# Python
__pycache__/
*.pyc

# Conda
.conda/
env/
.env/
.venv/
conda-env/

# Environment variables
.env

# Vector stores / artifacts
vectorstore/
*.faiss
*.pkl

# Streamlit
.streamlit/

# OS
.DS_Store
.vscode/

# Jupyter
.ipynb_checkpoints/test_retrieval.py
test_retrieval.py
